//CSS FAJL

.slika
{
margin-right:auto;
margin-left:auto;
height:20px;
width:100%;
}

.slika2
{
float:right;
width:500px;
height:300px;
padding:10px;
}

.pozadina
{
background-color:#EAD99F;
width:100%;
background-image:url(slike/english1.jpg);
background-repeat:repeat-x
}

.heder
{
text-align:center;
color:#14144B;
border-color:#14144B;
border-width:2px;
border-style:solid;
padding:4px;
font-family:Arial;
text-shadow:-3px -4px 5px grey;
}

.tekst
{
text-align:justify;
font-family:Arial;
color:#14144B;
text-indent:25px;
font-size:1em;
margin-right:auto;
margin-left:auto;
}

.tekst2
{
text-align:left;
font-family:Arial;
color:#14144B;
font-size:1em;
margin-right:auto;
margin-left:auto;
}

.box1
{
width:250px;
height:500px;
border:2px;
border-style:solid;
border-color:#14144B;
border-radius:10px;
box-shadow:10px 10px 5px #888888;
}

.td1
{
border:2px;
width:20%;
vertical-align:top;
}

.td2
{
border:2px;
width:75%;
vertical-align:top;
}

table
{
width:100%;
height:100%;
border:1px;
border-color:red;
}

a
{
text-align:center;
color:#14144B;
padding:5px;
font-family:Arial;
font-weight:Bold;
border:2px solid black;
border-color:#14144B;
border-radius:10px;
}


